body{
  background-color: #302e2b;
}
#root{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}
.squareRow{
  
  display: flex;
}

.square{
  width: 70px;
  height: 70px;

}
.white{
background-color: #eeeed2;
}
.black{
  background-color: #769656;
}

.piece{
  width: 100%;
  cursor: pointer;
}
.highlight{
  height: 33px;
  width: 33px;
  margin-top  : 18px;
  border-radius: 50%;
  margin-left: 16px;
  background-color: rgb(207, 201, 201);
  display: block;
}

.highlightYellow {
  background-color: #f7f769;
}